@import url('./Buttons/Buttons.css');
#loginBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}
