form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* background-color: red; */
    height:50%;
    justify-content:space-around;
    align-items: center;
    padding:8% 0 8% 0;
}
.details{
    width:80%;
    height:30%;
    background-color: black;
    border: 5% solid;
    border-color: whitesmoke;
    color: red;
    font-size:150%;
}
